<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Admin Panel</h1>

    <h2>Add Skill</h2>
   <form action="/add-skill-form" method="POST">
    <input type="text" name="name" placeholder="Enter Skill">
    <button type="submit">Add Skill</button>
</form>

    <h2>Add Project</h2>
   <form action="/add-project-form" method="POST" enctype="multipart/form-data">

    <input type="text" name="title" placeholder="Project Title"><br><br>

    <textarea name="description" placeholder="Project Description"></textarea><br><br>

    <input type="file" name="image"><br><br>

    <button type="submit">Add Project</button>

</form>

<h2>Add About</h2>

<form action="/add-about-form" method="POST">

    <textarea name="content"
              placeholder="Write About Yourself"></textarea>

    <br><br>

    <button type="submit">Add About</button>
</form>

<h2>Add Blog</h2>

<form action="/add-blog-form" method="POST">

    <input type="text"
           name="title"
           placeholder="Blog Title">

    <br><br>

    <textarea name="content"
              placeholder="Blog Content"></textarea>

    <br><br>

    <button type="submit">Add Blog</button>

</form>

<h2>Add Experience</h2>

<form action="/add-experience-form" method="POST">

    <input type="text"
           name="company"
           placeholder="Company Name">

    <br><br>

    <input type="text"
           name="role"
           placeholder="Role">

    <br><br>

    <textarea name="description"
              placeholder="Experience Description"></textarea>

    <br><br>

    <button type="submit">Add Experience</button>

</form>

<h2>Add Testimonial</h2>
<form action="/add-testimonial-form" method="POST">

    <input type="text"
           name="name"
           placeholder="Client Name">

    <br><br>

    <textarea name="feedback"
              placeholder="Client Feedback"></textarea>

    <br><br>

    <button type="submit">
        Add Testimonial
    </button>

</form>

<h2>Add Service</h2>
<form action="/add-service-form" method="POST">

    <input type="text"
           name="title"
           placeholder="Service Title">

    <br><br>

    <textarea name="description"
              placeholder="Service Description"></textarea>

    <br><br>

    <button type="submit">
        Add Service
    </button>

</form>

<h2>Current Skills</h2>
<ul>
    {% for skill in skills %}
        <li>
            {{ skill.name }}

            <a href="/edit-skill/{{ skill.id }}">✏️ Edit</a>

            <a href="/delete-skill-ui/{{ skill.id }}">🗑️ Delete</a>
        </li>
    {% endfor %}
</ul>

<h2>Current Projects</h2>
<ul>
    {% for project in projects %}
        <li>
            <b>{{ project.title }}</b><br>
            {{ project.description }}
            
             <br><br>

            {% if project.image %}
            <img src="{{ url_for('static', filename='uploads/' + project.image) }}"
            width="200">
{% endif %}
<br><br>

            <a href="/edit-project/{{ project.id }}">✏️ Edit</a>

            <a href="/delete-project-ui/{{ project.id }}">🗑️ Delete</a>
        </li>
    {% endfor %}
</ul>
<h2>Current About</h2>

<ul>
    {% for about in abouts %}
        <li>
            {{ about.content }}

            <a href="/edit-about/{{ about.id }}">
                ✏️ Edit
            </a>

            <a href="/delete-about-ui/{{ about.id }}">
                🗑️ Delete
            </a>
        </li>
    {% endfor %}
</ul>

<h2>Current Blogs</h2>
<ul>
{% for blog in blogs %}
<li>
    <b>{{ blog.title }}</b><br>
    {{ blog.content }}

    <a href="/edit-blog/{{ blog.id }}">✏️ Edit</a>

    <a href="/delete-blog-ui/{{ blog.id }}">🗑️ Delete</a>
</li>
{% endfor %}
</ul>

<h2>Current Experiences</h2>

<ul>
{% for experience in experiences %}
<li>
    <b>{{ experience.company }}</b><br>
    {{ experience.role }}<br>
    {{ experience.description }}

    <a href="/edit-experience/{{ experience.id }}">✏️ Edit</a>

    <a href="/delete-experience-ui/{{ experience.id }}">🗑️ Delete</a>
</li>
{% endfor %}
</ul>

<h2>Current Testimonials</h2>

<ul>
{% for testimonial in testimonials %}
<li>
    <b>{{ testimonial.name }}</b><br>
    {{ testimonial.feedback }}

    <a href="/edit-testimonial/{{ testimonial.id }}">✏️ Edit</a>

    <a href="/delete-testimonial-ui/{{ testimonial.id }}">🗑️ Delete</a>
</li>
{% endfor %}
</ul>

<h2>Current Services</h2>
<ul>
{% for service in services %}
<li>
    <b>{{ service.title }}</b><br>
    {{ service.description }}

    <a href="/edit-service/{{ service.id }}">
        ✏️ Edit
    </a>

    <a href="/delete-service-ui/{{ service.id }}">
        🗑️ Delete
    </a>
</li>
{% endfor %}
</ul>
<h2>Contact Messages</h2>

<ul>
{% for contact in contacts %}
<li>
    <b>Name:</b> {{ contact.name }} <br>
    <b>Email:</b> {{ contact.email }} <br>
    <b>Message:</b> {{ contact.message }}
<br><br>

<a href="/delete-contact-ui/{{ contact.id }}">
    🗑️ Delete
</a>
</li>
<br>
{% endfor %}
</ul>

</body>
</html>